:root {
  /* Semantic colors */
  --color-positive: #34c759;
  --color-negative: #ff3b30;
  --color-warning: #ff9500;
  --color-star: #ffd60a;
}

body {
  background: var(--tg-theme-secondary-bg-color, white);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--tgui--text_color, #000);
}

/* Adjust Tabbar position on iOS for better home indicator spacing */
.tabbar-wrapper > div {
  padding-bottom: 26px;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
